@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
// @include foundation-grid;
// @include foundation-flex-grid;
//
@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
// @include foundation-accordion;
// @include foundation-accordion-menu;
// @include foundation-badge;
// @include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
// @include foundation-pagination;
// @include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
// @include foundation-float-classes;
@include foundation-flex-classes;

// @include foundation-prototype-classes;

@include motion-ui-transitions;
// @include motion-ui-animations;




/* ----------------------------------------------------------------------------------------------------

	TYPOGRAPHY

---------------------------------------------------------------------------------------------------- */

body {
	font-size: rem-calc(16);
	@include breakpoint(large) {
		font-size: rem-calc(18);
	}
}
.caption {
	font-size: 85%;
	margin-top: rem-calc(7)
}
.eyebrow {
	color: $llv-orange;
	text-transform: uppercase;
	letter-spacing: rem-calc(3);
	margin-bottom: 0;
	line-height: 1.2;
}
h2.subhead {
	font-size: rem-calc(18);
	@include breakpoint(medium) {
		font-size: rem-calc(28);
	}
}
h3.event-category {
	color: $llv-orange;
}
h4 {
	font-size: rem-calc(20);
	font-weight: bold;
}
/* ----------------------------------------------------------------------------------------------------

	MASTHEAD / NAVIGATION

---------------------------------------------------------------------------------------------------- */

.masthead {
	background: $white;
	@include xy-grid;
	padding: rem-calc(30);
}
.logo {
	@include xy-cell(8);
	@include xy-cell-offset(2);
	img {
		max-width: rem-calc(180);
		min-width: rem-aclc(120);
		display: block;
		margin: 0 auto;
	}
	@include breakpoint(medium) {
		@include xy-cell-offset(0);
		@include xy-cell(5);	
		img {
			margin: 0;
		}
	}
	@include breakpoint(large) {
		@include xy-cell(2);	
	}
}
.menu {
	@include show-for(medium);
	@include breakpoint(medium) {
		@include xy-cell(auto);
		@include flex-align-self(middle);
		a:hover {
			color: $secondary-color;
		}
	}
}
.menu li {
	text-align: right;
	@include breakpoint(medium) {
	text-align: center;
	}
	@include breakpoint(large) {
		max-width: 20%;
	}
	@include breakpoint(xlarge) {
		max-width: 50%;
	}
	a {
		color: $primary-color;
	}
}

a {
	color: $llv-orange;
}
a:hover {
	color: $secondary-color;
}
.button:hover {
	background: $secondary-color;
}

.button.centered {
	@include flex;
	@include flex-align(center);
	width: auto;
}
.hollow.button {
	color: $llv-orange;
	border-color: $llv-orange;
}
.hollow.button:hover {
	background: $llv-orange;
	color: $white;
	border-color: $llv-orange;
}

/* ----------------------------------------------------------------------------------------------------

	QUICKFORM

---------------------------------------------------------------------------------------------------- */

.quickform .form-main {
	@include xy-grid;
	padding: rem-calc(15) rem-calc(30);
	background: $bright-orange;
	position: relative;
	z-index: 1;
}
.quickform  .form-header {
		@include xy-cell(full)

	width: 100%;
	font-size: rem-calc(14);
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: rem-calc(4);
	color: rgba($white,.75);
}
.quickform .name,
.quickform .firstname,
.quickform .lastname,
.quickform .interest,
.quickform .email,
.quickform .phone {
	@include xy-cell(full)
	margin: 0 0 rem-calc(15) 0;
	width: 100%;
	@include breakpoint(medium) {
		@include xy-cell(23%,true,30px,margin,right)	
		margin-bottom: 0;
	}
}

.quickform .form-submit {
	@include xy-cell(auto,false)
	margin-bottom: 0;
}
.quickform .form-extended {
	position: relative;
	z-index: 0;
	padding: 0 rem-calc(30) rem-calc(15);
	background: $bright-orange;
	label {
		color: rgba($white,.75);
	}
}
.quickform .toggle {
	@include show-for(medium);
	@include xy-cell(shrink,true,30px,margin,right)
	color: rgba($white,.75);
	&:hover {
		color: $white;
	}
}

.hide {
	display:none;
}
select.is-invalid-input {
	color: $alert-color;
}
.alert {
	width: 100%;
	color: $white;
	text-align: center;
}


/* ----------------------------------------------------------------------------------------------------

	RSVP FORM

---------------------------------------------------------------------------------------------------- */

.rsvp .form-main {
	@include xy-grid;
	margin-top: rem-calc(15);
}
.rsvp .name,
.rsvp .address,
.rsvp .checkboxnews,
.rsvp p,
.rsvp h3 {
	@include xy-cell(full);
}
.rsvp .email,
.rsvp .phone,
.rsvp .eventDate,
.rsvp .attendees {
	@include xy-cell(6)
}
.rsvp .city,
.rsvp .state,
.rsvp .zip {
	@include xy-cell(4)
}
.required { 
	color: $alert-color;
}

.input-field { display: none; }

/* ----------------------------------------------------------------------------------------------------

	VIDEO

---------------------------------------------------------------------------------------------------- */
.video-link {
	display: block;
	position: relative;
	&:hover {
		.playbutton {
		color: $primary-color;
		}
	}

}
.playbutton {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-45%);
	-ms-transform: translate(-50%,-45%);
	transform: translate(-50%,-45%);
	font-size: rem-calc(100);
	text-shadow: 0 0 .9375rem rgba(10,10,10,.8);
	color: $white;
}
.close-button {
	padding: rem-calc(3) rem-calc(6) !important;
}
.video-thumbs {
	margin: rem-calc(30) 0 0;
	@include xy-grid;
}
.video-thumb {
	width: 100%;
	margin-bottom: rem-calc(15);
	.playbutton {
		font-size: rem-calc(48);
	}
	figcaption {
		margin-top: rem-calc(5);
		line-height: 1.2;
		color: $primary-color;
	}
	@include xy-cell(6,true,30px,margin);

	@include breakpoint(medium) {
		@include xy-cell(4,true,30px,margin);
		margin-bottom: rem-calc(30);
	}
}
/* ----------------------------------------------------------------------------------------------------

	LAYOUT

---------------------------------------------------------------------------------------------------- */
body {
	background: scale-color($llv-brown, $lightness: 90%);
}
.main {
	background: $white;
}
section {
	padding: rem-calc(30);
	clear: both;
}


.hero {
	@include orbit-wrapper
	position: relative;
	z-index: 1;
	padding: 0;
	width: 100%;
}

.copyblock {
	margin: 0 auto;
	max-width: rem-calc(780);
}

.siteplan {
	margin-bottom: rem-calc(30);
	img {
		border: 1px solid rgba($llv-brown,.2);
	}
	@include breakpoint(medium) {
		float: right;
		margin: rem-calc(15) rem-calc(-30) rem-calc(30) rem-calc(15);
		width: 50%;
	}
}

.floorpans {
	@include xy-grid;
}
.floorplan {
	width: 100%;
	background: rgba($llv-brown,.05);
	border: 1px solid rgba($llv-brown,.1);
	padding: rem-calc(15);
	margin-bottom: rem-calc(15);
	figure {
		width: 40%;
		float:left;
		margin-right: rem-calc(15);
	}
	h3 { 
		font-size: rem-calc(22);
		margin-bottom: 0;
	}
	p {
		line-height: 1.2;
		font-size: rem-calc(16);
	}
	@include breakpoint(medium) {
		@include xy-cell(6,true,30px,margin);
		margin-bottom: rem-calc(30);
	}
	@include breakpoint(large) {
		@include xy-cell(4,true,30px,margin);
	}
}

.reveal.large {
	width: 80%;
	max-width: rem-calc(1440);
}
figure a img {
	transition: all .2s;
}
figure a:hover img {
	transform: scale(1.0625);
}

.inset-right {
	max-width: 40%;
	float: right;
	margin: 0 rem-calc(-30) rem-calc(15) rem-calc(15);
}
.inset-left {
	max-width: 40%;
	float: left;
	margin: 0 rem-calc(15) rem-calc(15) rem-calc(-30);
}

.couple {
	max-width: rem-calc(150);
	@include breakpoint(medium) {
		max-width: rem-calc(250);
	}
	@include breakpoint(large) {
		margin-left: rem-calc(-120);
	}
}
.space-top {
	margin-top: rem-calc(30);
}
.collapse-bottom {
	padding-bottom: 0;
}
.columns {
	@include xy-grid;
}
.column {
	@include breakpoint(medium) {
		@include xy-cell(6,true,30px,margin)
	}
}
.pricing {
	color: scale-color($primary-color, $lightness: -14%);
	background: rgba($primary-color,.1);
	border: 1px solid rgba($primary-color,.3);
	padding: rem-calc(15);
	margin-bottom: rem-calc(30);
	text-align: center;
	small {
		display: block;
		color: scale-color($primary-color, $lightness: -14%);
		font-size: 70%;
		line-height: 1.2;
	}
	.disclaimer {
		color: scale-color($primary-color, $lightness: -14%);
		font-size: rem-calc(14);
	}
}
.reveal {
	@include reveal-modal-width(100%);
	@include breakpoint(medium) {
		@include reveal-modal-width(90%,1200px);
	}
}
.close-button {
	background: $white;
	padding: 0 0 rem-calc(3) rem-calc(5);
}

#events h3 {
	margin-bottom: rem-calc(15);
}

.event {
	margin-left:0;
	margin-bottom: rem-calc(30);
}

.event p {
	margin-bottom: rem-calc(7);
}
.pad-bottom {
	padding-bottom: rem-calc(90);
}

/* Background Tints */

#llv,
#videos,
#events { 
	background: rgba($llv-brown,.1);
}

.float-right {
	float: right;
}
.float-left {
	float:left;
}
.hoppyhour {
	max-width: 200px;
}

/* ----------------------------------------------------------------------------------------------------

	FOOTER

---------------------------------------------------------------------------------------------------- */
.footer {
	@include xy-grid;
	font-size: rem-calc(12);
	background: scale-color($llv-brown, $lightness: 90%);
	padding: rem-calc(30);
}
.footer-copy {
	@include xy-cell(full);
	@include breakpoint(medium) {
		@include xy-cell(8);
	}
	@include breakpoint(large) {
		@include xy-cell(5);
		@include xy-cell-offset(2);
	}

}
.footer-logos {
	@include xy-cell(6);
	@include xy-cell-offset(3)
	@include breakpoint(medium) {
		@include xy-cell(4);
	}
	@include breakpoint(large) {
		@include xy-cell(3);
		@include flex-align($x: right, $y: middle);
	}
}
.llv-logo {
	margin-bottom: rem-calc(30);
	width: 100%;
	max-width: rem-calc(250);
	float: right;
}
.ada-logo {
	max-width: rem-calc(40);
	float: right;
	margin-left: rem-calc(15);
    opacity: 0.5;
}
.eho-logo {
	clear: both;
	max-width: rem-calc(40);
	float: right;
	margin-left: rem-calc(15);
    opacity: 0.5;
}