<section class="hero" role="region" aria-label="Piper Trail Renderings" data-orbit>
  <div class="orbit-wrapper">
    <div class="orbit-controls">
      <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
      <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
    </div>
    <ul class="orbit-container">
      <li class="orbit-slide">
        <figure class="orbit-figure">
          <img data-interchange="[/assets/img/hero-lawn-small.jpg, small], [assets/img/hero-lawn.jpg, medium], [assets/img/hero-lawn-2x.jpg, retina]" alt="Piper Trail Rendering">
        </figure>
      </li>
      <li class="orbit-slide">
        <figure class="orbit-figure">
          <img data-interchange="[/assets/img/hero-main-street-small.jpg, small], [assets/img/hero-main-street.jpg, medium], [assets/img/hero-main-street-2x.jpg, retina]" alt="Piper Trail Rendering">
        </figure>
      </li>
      <li class="orbit-slide">
        <figure class="orbit-figure">
          <img data-interchange="[/assets/img/hero-pocket-park-small.jpg, small], [assets/img/hero-pocket-park.jpg, medium], [assets/img/hero-pocket-park-2x.jpg, retina]" alt="Piper Trail Rendering">
        </figure>
      </li>
    </ul>
  </div>
</section>

{{> quickform}}

<section id="intro" class="collapse-bottom">
  <div class="intro copyblock">

    <h1>Introducing Piper Trail.</h1>
    <h2 class="subhead">A Lutheran Life Villages Community.</h2>
    <figure class="siteplan">
      <a data-open="site-plan">
        <img src="/assets/img/siteplan-sm.jpg" alt="Piper Trail Site Plan" />
      </a>
    </figure>

    <p class="lead">Introducing an innovative and exciting new direction in neighborhood living: Piper Trail, northeast Indiana's first "pocket neighborhood" for active adults ages 55+. It's the ideal choice for those looking for a relaxed, maintenance-free, independent&nbsp;lifestyle.</p>



<!--
    <img class="space-top" data-interchange="[/assets/img/aerial-sm.jpg, small], [assets/img/aerial.jpg, large]" alt="Piper Trail Rendering">
-->
  </div>
</section>

<section id="events">
  <div class="copyblock">
    <p class="eyebrow">Piper Trail Events</p>
    <h2>Join us and learn more about this innovative&nbsp;neighborhood</h2>

    <p>We’ve designed Piper Trail for vibrant and sociable people like you. Take a front row seat and discover how Piper Trail can give you the lifestyle you want and&nbsp;deserve.</p>

<!--
    <h3>Choose the date that works best for you</h3> 
    <h3 class="event-category"><i>Better Way of Living</i> Seminar</h3> 
-->

    <div class="event">
      <h4>Thursday, November 15th</h4>
      <p><strong>Time:</strong> 6:00 p.m. Presentation &amp; hors d'oeuvres<br />
      <strong>Location:</strong> Piper Trail Clubhouse, 8151 Glencarin Boulevard, Fort Wayne</p>
    </div>    


    <p>Seating is limited. Please RSVP at (260) 205-8647 or by filling out the form below.</p>

    <p class="text-center"><a class="hollow button" data-open="rsvp">RSVP Now</a></p>

<!-- NO EVENTS SCHEDULED CTA:
    <p>All of our Piper Trail events are full at this time. Please contact us at (260)&nbsp;205&#8209;8674 or fill out the form below to schedule a personal appointment.</p> 
    <p class="text-center"><a class="hollow button" data-open="rsvp">Schedule an appointment</a></p>
-->


    <div class="reveal" id="rsvp" data-reveal>
      {{> rsvp}}
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</section>


<section id="experience">
  <div class="copyblock">

    <figure class="inset-left couple">
      <img src="/assets/img/couple-ko.png" alt="Piper Trail residents">
    </figure>

    <p class="eyebrow">The Piper Trail Experience</p>
    <h2>A great place to live.<br />A great way to&nbsp;live.</h2>

    <p>If you're looking for a relaxed, welcoming and maintenance-free lifestyle, you'll find it at Piper Trail. Nestled on twelve acres in Inverness Centre in southwest Fort Wayne, it's a special neighborhood that's all about community, friendship, safety, privacy and&nbsp;livability.</p>

    <p>At Piper Trail, cozy, cottage homes overlook lushly landscaped open spaces. Neighbors offer ‘nodding hellos' or stop for a chat. Grandkids play in the grass. Friends stroll down a path to an exercise class at the Clubhouse. And shopping, churches and restaurants are located nearby.</p>

  </div>
</section>

<section id="videos">
  <div class="copyblock">

    <p class="eyebrow">Perspectives</p>
    <h2>Is this a downsizing move for you?</h2>
    <p>Piper Trail <i>Founder's Club</i> members talk about downsizing.</p>

    <figure>
      <a class="video-link" data-open="video-downsizing">
        <img src="https://img.youtube.com/vi/PVmSM4plTrU/maxresdefault.jpg" alt="Piper Trail Downsizing Video" />
        <i class="playbutton fa fa-play-circle"></i>
      </a>
    </figure>
    <div class="reveal" id="video-downsizing" data-reveal data-reset-on-close="true">
      <div class="responsive-embed widescreen">
        <iframe width="1024" height="576" src="https://www.youtube.com/embed/PVmSM4plTrU?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <button class="close-button" data-close aria-label="Close modal" type="button">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>
    </div>

    <div class="video-thumbs">

      <figure class="video-thumb">
        <a class="video-link" data-open="video-impressions">
          <img src="https://img.youtube.com/vi/za1CilCIi5Y/maxresdefault.jpg" alt="Piper Trail Downsizing Video" />
          <i class="playbutton fa fa-play-circle"></i>
        </a>
        <figcaption>What was your first impression of Piper&nbsp;Trail?</figcaption>
      </figure>
      <div class="reveal" id="video-impressions" data-reveal data-reset-on-close="true">
        <div class="responsive-embed widescreen">
          <iframe width="1024" height="576" src="https://www.youtube.com/embed/za1CilCIi5Y?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true"><i class="fas fa-times"></i></span>
          </button>
        </div>
      </div>

      <figure class="video-thumb">
        <a class="video-link" data-open="video-advantages">
          <img src="https://img.youtube.com/vi/k3Roc-tqs8A/maxresdefault.jpg" alt="Piper Trail Downsizing Video" />
          <i class="playbutton fa fa-play-circle"></i>
        </a>
        <figcaption>Are there advantages to being a Lutheran Life Villages property?</figcaption>
      </figure>
      <div class="reveal" id="video-advantages" data-reveal data-reset-on-close="true">
        <div class="responsive-embed widescreen">
          <iframe width="1024" height="576" src="https://www.youtube.com/embed/k3Roc-tqs8A?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true"><i class="fas fa-times"></i></span>
          </button>
        </div>
      </div>

      <figure class="video-thumb">
        <a class="video-link" data-open="video-benefits">
          <img src="https://img.youtube.com/vi/SvgKLTnW5ro/maxresdefault.jpg" alt="Piper Trail Downsizing Video" />
          <i class="playbutton fa fa-play-circle"></i>
        </a>
        <figcaption>Are there other benefits to living in a Pocket Neighborhood?</figcaption>
      </figure>
      <div class="reveal" id="video-benefits" data-reveal data-reset-on-close="true">
        <div class="responsive-embed widescreen">
          <iframe width="1024" height="576" src="https://www.youtube.com/embed/SvgKLTnW5ro?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true"><i class="fas fa-times"></i></span>
          </button>
        </div>
      </div>

      <figure class="video-thumb">
        <a class="video-link" data-open="video-miss">
          <img src="https://img.youtube.com/vi/kg5pmf_DOHU/maxresdefault.jpg" alt="Piper Trail Downsizing Video" />
          <i class="playbutton fa fa-play-circle"></i>
        </a>
        <figcaption>What will you miss about your old house?</figcaption>
      </figure>
      <div class="reveal" id="video-miss" data-reveal data-reset-on-close="true">
        <div class="responsive-embed widescreen">
          <iframe width="1024" height="576" src="https://www.youtube.com/embed/kg5pmf_DOHU?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true"><i class="fas fa-times"></i></span>
          </button>
        </div>
      </div>

      <figure class="video-thumb">
        <a class="video-link" data-open="video-children">
          <img src="https://img.youtube.com/vi/T7jq8sq7NE0/maxresdefault.jpg" alt="Piper Trail Downsizing Video" />
          <i class="playbutton fa fa-play-circle"></i>
        </a>
        <figcaption>How did your children react to your decision to move?</figcaption>
      </figure>
      <div class="reveal" id="video-children" data-reveal data-reset-on-close="true">
        <div class="responsive-embed widescreen">
          <iframe width="1024" height="576" src="https://www.youtube.com/embed/T7jq8sq7NE0?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true"><i class="fas fa-times"></i></span>
          </button>
        </div>
      </div>

      <figure class="video-thumb">
        <a class="video-link" data-open="video-forward">
          <img src="https://img.youtube.com/vi/sJIRkOnd6II/maxresdefault.jpg" alt="Piper Trail Downsizing Video" />
          <i class="playbutton fa fa-play-circle"></i>
        </a>
        <figcaption>What are you looking forward to the most?</figcaption>
      </figure>
      <div class="reveal" id="video-forward" data-reveal data-reset-on-close="true">
        <div class="responsive-embed widescreen">
          <iframe width="1024" height="576" src="https://www.youtube.com/embed/sJIRkOnd6II?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true"><i class="fas fa-times"></i></span>
          </button>
        </div>
      </div>

    </div>
  </div>
</section>

<section id="siteplan">
  <div class="copyblock">

    <p class="eyebrow">Location</p>
    <h2>A unique neighborhood designed for living</h2>

    <p>Piper Trail is a cozy neighborhood of 48 single-family homes built within the greater Inverness neighborhood. Its unique design helps encourage greater social interaction and a real sense of&nbsp;community.</p>

    <p>Cottages are clustered in small groupings around shared green spaces. Two ponds are nearby. Walking/biking paths connect Piper Trail to surrounding neighborhoods, shopping, churches and recreation. And an onsite clubhouse features a bistro, gym and spaces to meet and&nbsp;relax.</p>

    <p>Piper Trail will be located at 8151 Glencarin Boulevard in Fort Wayne.</p>
<!--
    <a class="hollow button" href="#" title="Download PDF">Download Site Plan</a>
-->

  </div>
  <div class="reveal" id="site-plan" data-reveal>
    <img data-interchange="[/assets/img/siteplan-sm.jpg, small], [assets/img/siteplan.jpg, medium], [assets/img/siteplan-2x.jpg, retina]" alt="Piper Trail Site Plan">    
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

</section>


<section id="floorplans">
  <div class="copyblock">
    
    <p class="eyebrow">Floor Plans</p>
    <h2>Living Large in a cottage home.</h2>

    <p>Piper Trail cottage homes are designed for exceptional comfort and livability &mdash; allowing you to simplify your life without having to sacrifice your quality of life. Choose from eight floor plans, ranging from 1,140 sq. ft. to 1,676 sq. ft.</p>

  </div>

  <div class="floorpans">
    

    <div class="floorplan">
      <figure>
        <a data-open="cottage-1">
          <img src="/assets/img/floorplan-astor-sm.png" alt="Piper Trail Floor Plan" />
          <p class="caption">Click to enlarge</p>
        </a>
      </figure>
      <h3>Astor</h3>
      <p>1 Bed + Den, 1.5&nbsp;bath.<br>1,140&nbsp;SF.</p>
      <a class="hollow button" href="/assets/files/Piper-Trail-Astor-Floorplan.pdf" title="Download PDF">Download Floor Plan</a>
    </div>
    <div class="reveal" id="cottage-1" data-reveal>
      <img data-interchange="[/assets/img/floorplan-astor-sm.png, small], [assets/img/floorplan-astor.png, medium], [assets/img/floorplan-astor-2x.png, retina]" alt="Piper Trail Floor Plan">    
      <a class="float-right" data-open="cottage-2">Next &rarr;</a>
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="floorplan">
      <figure>
        <a data-open="cottage-2">
          <img src="/assets/img/floorplan-bluestem-sm.png" alt="Piper Trail Floor Plan" />
          <p class="caption">Click to enlarge</p>
        </a>
      </figure>
      <h3>Bluestem</h3>
      <p>1 Bed + Den, 1.5&nbsp;bath.<br>1,152&nbsp;SF.</p>
      <a class="hollow button" href="/assets/files/Piper-Trail-Bluestem-Floorplan.pdf" title="Download PDF">Download Floor Plan</a>
    </div>
    <div class="reveal" id="cottage-2" data-reveal>
      <img data-interchange="[/assets/img/floorplan-bluestem-sm.png, small], [assets/img/floorplan-bluestem.png, medium], [assets/img/floorplan-bluestem-2x.png, retina]" alt="Piper Trail Floor Plan">    
      <a class="float-left" data-open="cottage-1">&larr; Previous</a>
      <a class="float-right" data-open="cottage-3">Next &rarr;</a>
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="floorplan">
      <figure>
        <a data-open="cottage-3">
          <img src="/assets/img/floorplan-bottle-brush-sm.png" alt="Piper Trail Floor Plan" />
          <p class="caption">Click to enlarge</p>
        </a>
      </figure>
      <h3>Bottle Brush</h3>
      <p>1 Bed + Den, 1.5&nbsp;bath.<br>1,200&nbsp;SF.</p>
      <a class="hollow button" href="/assets/files/Piper-Trail-Bottle-Brush-Floorplan.pdf" title="Download PDF">Download Floor Plan</a>
    </div>
    <div class="reveal" id="cottage-3" data-reveal>
      <img data-interchange="[/assets/img/floorplan-bottle-brush-sm.png, small], [assets/img/floorplan-bottle-brush.png, medium], [assets/img/floorplan-bottle-brush-2x.png, retina]" alt="Piper Trail Floor Plan">    
      <a class="float-left" data-open="cottage-2">&larr; Previous</a>
      <a class="float-right" data-open="cottage-4">Next &rarr;</a>
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="floorplan">
      <figure>
        <a data-open="cottage-4">
          <img src="/assets/img/floorplan-goldenrod-sm.png" alt="Piper Trail Floor Plan" />
          <p class="caption">Click to enlarge</p>
        </a>
      </figure>
      <h3>Goldenrod</h3>
      <p>2 Bed, 2&nbsp;Bath.<br>1,220&nbsp;SF.</p>
      <a class="hollow button" href="/assets/files/Piper-Trail-Goldenrod-Floorplan.pdf" title="Download PDF">Download Floor Plan</a>
    </div>
    <div class="reveal" id="cottage-4" data-reveal>
      <img data-interchange="[/assets/img/floorplan-goldenrod-sm.png, small], [assets/img/floorplan-goldenrod.png, medium], [assets/img/floorplan-goldenrod-2x.png, retina]" alt="Piper Trail Floor Plan">    
      <a class="float-left" data-open="cottage-3">&larr; Previous</a>
      <a class="float-right" data-open="cottage-5">Next &rarr;</a>
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="floorplan">
      <figure>
        <a data-open="cottage-5">
          <img src="/assets/img/floorplan-lily-sm.png" alt="Piper Trail Floor Plan" />
          <p class="caption">Click to enlarge</p>
        </a>
      </figure>
      <h3>Lily</h3>
      <p>1 Bed + Den, 1.5&nbsp;Bath.<br>1,308&nbsp;SF.</p>
      <a class="hollow button" href="/assets/files/Piper-Trail-Lily-Floorplan.pdf" title="Download PDF">Download Floor Plan</a>
    </div>
    <div class="reveal" id="cottage-5" data-reveal>
      <img data-interchange="[/assets/img/floorplan-lily-sm.png, small], [assets/img/floorplan-lily.png, medium], [assets/img/floorplan-lily-2x.png, retina]" alt="Piper Trail Floor Plan">    
      <a class="float-left" data-open="cottage-4">&larr; Previous</a>
      <a class="float-right" data-open="cottage-6">Next &rarr;</a>
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="floorplan">
      <figure>
        <a data-open="cottage-6">
          <img src="/assets/img/floorplan-primrose-sm.png" alt="Piper Trail Floor Plan" />
          <p class="caption">Click to enlarge</p>
        </a>
      </figure>
      <h3>Primrose</h3>
      <p>2 Bed, 2&nbsp;Bath.<br>1,351&nbsp;SF.</p>
      <a class="hollow button" href="/assets/files/Piper-Trail-Primrose-Floorplan.pdf" title="Download PDF">Download Floor Plan</a>
    </div>
    <div class="reveal" id="cottage-6" data-reveal>
      <img data-interchange="[/assets/img/floorplan-primrose-sm.png, small], [assets/img/floorplan-primrose.png, medium], [assets/img/floorplan-primrose-2x.png, retina]" alt="Piper Trail Floor Plan">    
      <a class="float-left" data-open="cottage-5">&larr; Previous</a>
      <a class="float-right" data-open="cottage-7">Next &rarr;</a>
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="floorplan">
      <figure>
        <a data-open="cottage-7">
          <img src="/assets/img/floorplan-sea-oat-sm.png" alt="Piper Trail Floor Plan" />
          <p class="caption">Click to enlarge</p>
        </a>
      </figure>
      <h3>Sea Oat</h3>
      <p>2 Bed + Den, 2&nbsp;Bath.<br>1,525&nbsp;SF.</p>
      <a class="hollow button" href="/assets/files/Piper-Trail-Sea-Oat-Floorplan.pdf" title="Download PDF">Download Floor Plan</a>
    </div>
    <div class="reveal" id="cottage-7" data-reveal>
      <img data-interchange="[/assets/img/floorplan-sea-oat-sm.png, small], [assets/img/floorplan-sea-oat.png, medium], [assets/img/floorplan-sea-oat-2x.png, retina]" alt="Piper Trail Floor Plan">    
      <a class="float-left" data-open="cottage-6">&larr; Previous</a>
      <a class="float-right" data-open="cottage-8">Next &rarr;</a>
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="floorplan">
      <figure>
        <a data-open="cottage-8">
          <img src="/assets/img/floorplan-tall-seed-sm.png" alt="Piper Trail Floor Plan" />
          <p class="caption">Click to enlarge</p>
        </a>
      </figure>
      <h3>Tall Seed</h3>
      <p>2 Bed + Den, 2&nbsp;Bath.<br>1,676&nbsp;SF.</p>
      <a class="hollow button" href="/assets/files/Piper-Trail-Tall-Seed-Floorplan.pdf" title="Download PDF">Download Floor Plan</a>
    </div>
    <div class="reveal" id="cottage-8" data-reveal>
      <img data-interchange="[/assets/img/floorplan-tall-seed-sm.png, small], [assets/img/floorplan-tall-seed.png, medium], [assets/img/floorplan-tall-seed-2x.png, retina]" alt="Piper Trail Floor Plan">    
      <a class="float-left" data-open="cottage-7">&larr; Previous</a>
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>



    <div class="copyblock">
      <div class="columns">
        <div class="column">
          <h3>Cottage homes feature:</h3>
          <ul>
            <li>Open floor plan</li>
            <li>Vaulted ceilings</li>
            <li>Full kitchen</li>
            <li>Washer/dryer</li>
            <li>Attached garage and outdoor parking</li>
            <li>Front porch, patio and garden</li>
          </ul>
        </div>
        <div class="column">
          <h3>Amenities:</h3>
          <ul>
            <li>Clubhouse with bistro and fitness center</li>
            <li>Onsite concierge</li>
            <li>Snow removal, landscaping and maintenance</li>
            <li>Coordinated programs</li>
            <li>Walking trails throughout the community</li>
            <li>Convenient to medical offices, shopping and dining</li>
          </ul>
        </div>
      </div>

      <div class="pricing">
        <h3>From $1,500* per month <small>(Includes utilities, amenities, activities, maintenance and more)</small></h3>
        <p class="disclaimer">*Based on a one-time 80% refundable entrance fee</p>
      </div>
    </div>

  </div>
</section>

<section id="llv">
  <div class="copyblock">

    <p class="eyebrow">About Lutheran Life Villages</p>
    <h2>Raising the bar for senior living and care in northeast Indiana</h2>

    <figure class="inset-right logo-inset">
      <a href="http://luthreanlifevillages.org" title="Lutheran Life Villages">
        <img src="/assets/img/logo-llv.png" alt="Lutheran Life Villages. A better way of living.">
      </a>
    </figure>

    <p>Lutheran Life Villages is constantly evolving and advancing to deliver the best services for the people and communities we serve. Piper Trail is our latest innovation&mdash;a planned, single-family-home neighborhood for active adults, ages 55+, set within a larger residential&nbsp;neighborhood.</p>

    <p>Lutheran Life Villages has been part of Fort Wayne since 1931. From the beginning, we've been dedicated to the well being of our residents and their families. Not-for-profit and faith-based, we have four thriving communities in Fort Wayne and Kendallville areas. Together, they deliver high-quality residential living, assisted living, skilled nursing, short- and long-term rehabilitation, memory care, adult day services, respite care, and personal care&nbsp;services.</p>

    <p class="text-center"><a class="hollow button" href="http://lutheranlifevillages.org/our-story" title="Learn more">Learn More at LuthreanLifeVillages.org</a></p>

  </div>
</section>





<section id="contact">
  <div class="copyblock">
    <p class="eyebrow">Secure Your Spot</p>
    <h2>Now taking cottage reservations</h2>

    <p>Don’t wait! There is strong demand for Piper Trail cottage homes. Put down your deposit to join our <i>Founders Club</i> and receive special incentives.</p>

    <h3>Call (260) 205-8647 to reserve your cottage or schedule a consultation.</h3>
</p>
  </div>
</section>


