---
layout: pages
---
<figure class="hero">
	<img data-interchange="[/assets/img/hero-lawn-small.jpg, small], [assets/img/hero-lawn.jpg, medium], [assets/img/hero-lawn-2x.jpg, retina]" alt="Piper Trail Rendering">
</figure>

<section>
	<div class="intro copyblock pad-bottom">

		<h1>Registration Confirmed</h1>
		<p>Thank you for your interest in Piper Trail. We look forward to seeing you soon.</p>

		<p><a href="/" title="home"><< Back to PiperTrail.com</a></p>
		
	</div>
</section>



