<footer class="footer" data-stick-to="bottom">
  <div class="footer-copy">
    <p>&copy;2018 Lutheran Life Villages. Lutheran Life Villages is a nonprofit organization that sponsors four of Northeast Indiana’s leading communities offering retirement-living options and services &mdash; <a href="http://lutheranlifevillages.org/communities/the-village-at-anthony-boulevard">The Village at Anthony Boulevard</a>, <a href="http://lutheranlifevillages.org/communities/the-village-at-birchwood">The Village at Birchwood</a>, <a href="http://lutheranlifevillages.org/communities/the-village-at-kendallville">The Village at Kendallville</a>, and <a href="http://lutheranlifevillages.org/communities/the-village-at-pine-valley">The Village at Pine Valley</a>.</p>

    <p>We’re committed to providing A Better Way of Living and want to be your source for residential apartment living options, assisted living, memory support, and rehabilitation and home care services.</p>

    <p>Piper Trail, 8151 Glencarin Boulevard, Fort Wayne, Indiana 46804</p>
  </div>
  <figure class="footer-logos">
    <a href="http://luthreanlifevillages.org" title="Lutheran Life Villages">
      <img class="llv-logo" src="/assets/img/logo-llv.png" alt="Lutheran Life Villages. A better way of living." />
    </a>
    <img class="eho-logo" src="/assets/img/logo-eho.svg" alt="Equal Housing Opportunity" />
    <img class="ada-logo" src="/assets/img/logo-ada.svg" alt="ADA Compliant" />
  </figure>

</footer>