<form class="quickform" method="POST" action="/quickform.php" data-abide novalidate>
  	<div class="form-main">
		<h2 class="form-header">Stay Informed</h2>

		<p data-abide-error class="alert" style="display: none;"><i class="fas fa-exclamation-triangle"></i> Please fill out the required fields below highlighted in red.</p>

		<div class="input-field">Please leave this blank<input type="text" name="contact-field" value="" /></div>
		<div class="text-field">Please do not change this field<input type="text" name="email-field" value="your@email.com" /></div>


		<input class="name" type="text" name="name" id="name" value="" placeholder="Name" required />

		<select class="interest" name="imInterestedIn" id="imInterestedIn" value="" required />
			<option value="" class="default">I&#039;m Interested In</option>
			<option value="Piper Trail Updates">Piper Trail Updates</option>
<!--
			<option value="Career Opportunities">Career Opportunities</option>
			<option value="Senior Apartments">Senior Apartments</option>			
			<option value="Nursing Care">Nursing Care</option>
			<option value="Rehabilitation">Rehabilitation</option>
			<option value="Assisted Living">Assisted Living</option>
			<option value="Home Care">Home Care</option>
			<option value="Memory Care">Memory Care</option>
			-->
		</select>

		<input class="email" type="text" name="email" id="email" placeholder="Email" required pattern="email"/>

		<input class="phone" type="text" name="phone" placeholder="Phone"/>
		<a class="toggle" data-toggle="panel"><i class="fas fa-comment-dots fa-2x"></i></a>
		<button class="button form-submit" type="submit">Submit</button>

  	</div>

  	<div class="form-extended" id="panel" data-toggler data-animate="slide-in-down slide-out-up" style="display:none">
		<textarea class="comment" rows="6" name="message" id="message" value="" placeholder="Have a question or comment?" /></textarea>
		<label for="checkboxnews">
			<input id="checkboxnews" name="signUpNewsletter" type="checkbox" name="signUpNewsletter" value="Yes" class="checkbox" value="1"/>Sign up for the LLV newsletter
		</label>
	</div>
</form>
