<form class="rsvp" method="POST" action="/rsvp.php" data-abide novalidate>
	<fieldset class="form-main">
		<h3>Piper Trail Event RSVP</h3>
		<p><small>Fields labeled in <span class="required">red</span> are required.</small></p>
		<p data-abide-error class="alert" style="display: none;"><i class="fas fa-exclamation-triangle"></i> Please fill out the required fields below highlighted in red.</p>

		<!-- Honeypot - call it normal to fool bots - this must be included for form to work -->
		<div class="input-field">Please leave this blank<input type="text" name="contact-field" value="" /></div>
		<div class="text-field">Please do not change this field<input type="text" name="email-field" value="your@email.com" /></div>

		<label class="name required" for="name">Name
			<input type="text" name="name" id="name" value="" required />
		</label>

		<label class="email required" for="email">Email
			<input type="text" name="email" id="email" required pattern="email"/>
		</label>

		<label class="phone required" for="phone">Phone
			<input type="text" name="phone" required />
		</label>

		<label class="address" for="address">Address
			<textarea rows="2" name="address" id="address" value=""  /></textarea>
		</label>

		<label class="city" for="city">City
			<input type="text" name="city" />
		</label>
		<label class="state" for="state">State
			<input type="text" name="state" />
		</label>
		<label class="zip" for="zip">Zip Code
			<input type="text" name="zip" />
		</label>

		<label class="eventDate required" for="eventDate">Event Date
			<select name="eventDate" id="eventDate" value="" required />
				<option value="" class="default">Select your date</option>
				<option value="Thursday, November 15th">Thursday, November 15th</option>
			</select>
		</label>

		<label class="attendees required" for="attendees">Number of Attendees
			<input type="text" name="attendees" id="name" value="" required />
		</label>

		<label class="checkboxnews" for="checkboxnews">
			<input id="checkboxnews" name="signUpNewsletter" type="checkbox" name="signUpNewsletter" value="Yes" class="checkbox" value="1"/>Sign up for the LLV newsletter
		</label>


		<p class="text-center">
			<button class="button form-submit" type="submit">Submit</button>
		</p>

  	</fieldset>

</form>

