{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-40123953-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-40123953-2');
    </script>

    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Piper Trail | A Community for active seniors in NE Indiana</title>
    <meta name="description" content="Northeast Indiana's first pocket community for active adults ages 55+ with relaxed, maintenance-free, independent lifestyle">
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
  </head>
  <body>
    <header class="masthead">
      <a class="logo" href="/" title="home"><img src="/assets/img/logo-piper-trail-notag.svg" alt="Piper Trail. A Lutheran Life Villages Community"></a>
      <ul class="menu align-right" data-magellan>
        <li><a href="#events" class="hollow button" title="">Event RSVP</a></li>
        <li><a href="#experience" title="">The Piper Trail Experience</a></li>
        <li><a href="#siteplan" title="">Location</a></li>
        <li><a href="#floorplans" title="">Floor Plans</a></li>
        <li><a href="#llv" title="">About LLV</a></li>
        <li><a href="#contact" title="">Secure Your Spot</a></li>
      </ul>
    </header>

    <main class="main">
      {{> body}}
    </main>

    {{> footer}}

    <script src="{{root}}assets/js/app.js"></script>
    <script>
      $(function() {
        $('.text-field').addClass('hide');
      });
    </script>
  </body>
</html>